
body {
  background-color: #E9D6C4;
}

h1 {
  color: #A7786F;
  text-align: center;
}

p {
  color: #A7786F;
  font-family: georgia;
  font-size: 15px;
}

h2 {
   color: #A7786F;
   font-family: georgia;
   font-size: 20px;
}

li {
   color: #A7786F;
   font-family: georgia;
   font-size: 15px;
}

img {
   border-radius: 50%;
}
