body {
        background-color: #9C9D74;
      }
      
      h1 {
        color: #3C5047;
        text-align: center;
      }
      
      p {
        color: #3C5047;
        font-family: Georgia;
        font-size: 15px;
      }

      h2 {
         color: #3C5047;
         font-size: 20px;
      }

      li {
         color: #3C5047;
         font-size: 15px;
      }

      img {
         border-radius: 50%;
      }
