body {
        background-color: #D48842;
      }
      
      h1 {
        color: #873612;
        text-align: center;
      }
      
      p {
        color: #873612;
        font-family: Georgia;
        font-size: 15px;
      }

      h2 {
         color: #873612;
         font-size: 20px;
      }

      li {
         color: #873612;
         font-size: 15px;
      }

      img {
         border-radius: 50%;
      }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
