body {
        background-color: #E8D6C1;
      }
      
      h1 {
        color: #B67957;
        text-align: center;
      }
      
      p {
        color: #B67957;
        font-family: Georgia;
        font-size: 15px;
        margin: 25px 50px 25px 100px;
      }

      h2 {
         color: #B67957;
         font-size: 20px;
         margin: 25px 50px 25px 100px;
      }

      li {
         color: #B67957;
         font-size: 15px;
         margin: 5px 50px 5px 100px;
      }

      img {
         border-radius: 50%;
      }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
