
    body {
        height: 2200px;
        background-image: linear-gradient(to bottom, #E8D6C1, #B6AAA6);
      }
      
      h1 {
        color: #663F39;
        text-align: center;
      }
     
      p.intro {
        color: #663F39;
        font-size: 18px;
        text-align: center;
        margin: 25px 100px 25px 100px;
      }

      h2 {
         color: #663F39;
         font-size: 20px;
         margin: 25px 100px 25px 100px;
      }

      p {
        color: #663F39;
        font-size: 15px;
        margin: 25px 100px 25px 100px;
      }

      li {
         color: #B67957;
         font-size: 15px;
         margin: 10px 100px 10px 100px;
      }

      li.items {
          color: #663F39;
         font-size: 18px;
         font-weight: bold;
         margin: 10px 100px 10px 100px;       
      } 

    img.circle {
         border-radius: 50%;
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;
      }
    
    .row {
         display: flex;
    }

    .column {
         flex: 33.33%;
         padding: 5px;
    }
