
    body {
        background-color: wheat;
      }
      
      h1 {
        color: darkgray;
        text-align: center;
      }
      
      p {
        font-family: Georgia;
        font-size: 20px;
      }
  