
    body {
        background-color: linear-gradient(to right, #E9D6C4, #9C9D74);;
      }
      
      h1 {
        color: black;
        text-align: center;
      }
      
      p {
        font-family: Georgia;
        font-size: 20px;
      }
  
